@model IEnumerable<LoginDemoApp.Entity.Models.EmployeeModel>;
@{
    ViewData["Title"] = "ShowAllEmpDetails";
}

<h1>Emp Details</h1>
<hr />
<div class="container row p-0 m-0">
    <div class="col-12 border p-3 mt-3">
        <table class="table table-hover table-dark">
            <thead class="table table-bordered table-striped text-center">
                <tr class="table-secondary">
                    <th>EmpId</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="table table-bordered table-striped">
                @foreach (var item in Model)
                {
                <tr class="table-secondary">
                    <td>@item.EmpId</td>
                    <td>@item.GivenName</td>
                    <td>@item.Surname</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.Password</td>
                    <td>@item.Role</td>
                    <td><a asp-action="UpdateUserDetails" asp-controller="Employee" asp-route-EmpId="@item.EmpId">Edit-User</a></td>
                    <td><a asp-action="DeleteUserDetails" asp-controller="Employee" asp-route-EmpId="@item.EmpId">Delete-User</a></td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
